@import '/src/scss/abstract/mixins.scss';

.container {
    display: flex;
    position: relative;
    min-height: 100vh;   
    align-items: stretch;
    justify-content: center;

    @include respond('tab-port'){
        flex-direction: column;
    }

   
}
