@use "/src/scss/abstract/variables" as vars;

.container{
    & .h3{
        color: vars.$c-gray-400;
    }
    & .products-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        
        padding: 2rem;
    }
    
}