.dashboard {
    display: flex;
    overflow: hidden;
    color: #636a2b;
    color: rgb(56, 48, 48);

    & .sidebar-container {
        display: block;
    }
}

.window {
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & .navigation-bar {
        background-color: #f3f3f4;
        display: flex;
        padding: 0.5rem 1.5rem;
        margin-bottom: 1rem;

        & .go-back {
            height: 100%;
        }
        & .logo {
            align-self: flex-end;
            flex-grow: 1;
            text-align: right;
            margin-inline: 2rem;
        }
    }
}
