@use '../../scss/abstract/variables' as vars;

.dashboard {
    display: flex;
    overflow: hidden;
    color: vars.$c-brown-400;
    background: vars.$c-berry-100;

    & .sidebar-container {
        display: block;
    }
}

.window {
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
