.ticket {
    display: flex;
    flex-basis: 2rem;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid blue;
    background: #F9F5F6;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    color: #050505;

    & .date-and-time {

        & .time {
            font-size: 2.5rem;
            font-weight: 600;
        }
        & .period{
            font-size: 1.1rem;
            font-weight: 600;

        }
        & .date {
        }
    }

    & .transaction-details {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-basis: 40rem;
        // flex-grow: 2;
        & .customer {
            padding: 0.5rem;
            text-transform: capitalize;
        }
        
    }
    & .cost{
        font-weight: 700;
        margin-inline:0.3rem;
        
    }
}
