.ticket {
    display: flex;
    flex-basis: 2rem;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid blue;
    background: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    color: #050505;
    &.payment {

background: rgb(154, 247, 154);
    }
    & .date-and-time {
        max-width: 13.5rem;
        flex-basis: 13.5rem;
        & .time {
            font-size: 2.5rem;
            font-weight: 600;
        }
        & .period {
            font-size: 1.1rem;
            font-weight: 600;
        }
        & .date {
        }
    }

    & .transaction-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 40rem;
        flex-grow: 2;
        margin-inline: 3rem;
        & .customer {
            padding: 0.5rem;
            text-transform: capitalize;
            min-width: 16rem;
        }
    }
    & .cost {
        font-weight: 700;
        margin-inline: 0.3rem;

        &.paid {
            color: green;
        }
        &.unpaid {
            color: orange;
        }
    }
}
