@use '/src/scss/abstract/variables' as vars;
@use '/src/scss/abstract/mixins' as mixins;

.container {
    background-color: vars.$c-amber-100;
    padding-top: 0.6rem;

    // border-radius: 1rem;

    & .button-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
        padding-inline: 1rem;

        margin-bottom: 0.5rem;

        & .my-location {
            font-size: 2rem;
            color: vars.$c-gray-400;
            cursor: pointer;

            &:hover {
                color: vars.$c-berry-400;
            }
        }
    }

    & .map-container {
        // border-radius: 1rem;
        overflow: hidden;
    }
    & .marker-red {
        aspect-ratio: 25/41;
        width: 25px;
        height: 40px;
        object-fit: none;
    }
}
