@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Regular.eot');
    src: local('Oswald Regular'), local('Oswald-Regular'),
        url('Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('Oswald-Regular.woff2') format('woff2'),
        url('Oswald-Regular.woff') format('woff'),
        url('Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

