@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

h3 {
  color: vars.$c-gray-300;
  font-size: 1.8rem;
  margin-block: 0.6rem 1rem;
  padding-inline: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: capitalize;
}
