@use '/src/scss/abstract/variables' as vars;
@use '/src/scss/abstract/mixins' as mixins;

.form-container {
    // $color-purchase: #2ecc71;
    margin-block: 1rem;
    padding: 1rem;
    background: vars.$c-berry-200;
    border-radius: 1.8rem;

    & h3 {
        color: vars.$c-gray-200;
        font-size: 1.8rem;
        margin-block: 0.6rem 1rem;
    }
    & form {
        background: vars.$c-berry-200;

        border-radius: 1rem;
        margin-block: 0.5rem;
    }

    & .form-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 2rem 0;
        gap: 0.5rem;
        padding-bottom: 1rem;

        &:not(:nth-of-type(2)) {
            border-bottom: 1px solid whitesmoke;
        }
        & select {
            text-transform: capitalize;
            margin-inline: 1rem;
            padding: 0.5rem 1rem;
            border: 0.5px solid vars.$c-gray-200;
            border-radius: 1rem;
            outline: none;

            &:focus {
                border: 0.5px solid #178645;
            }
        }
        & input {
            padding: 0.5rem 1rem;
            margin-inline: 1rem;
            max-width: 7rem;
            border: 0.5px solid vars.$c-gray-200;
            border-radius: 1rem;
            outline: none;
            letter-spacing: 0.5px;
            font-family: Roboto;

            &:focus {
                border: 0.5px solid #178645;
            }
        }
        & label {
            margin-inline: 1rem;
        }
        & button {
            text-transform: capitalize;
        }

        & .unit {
            display: inline-block;
            font-size: 1.4rem;
            min-width: 3rem;
        }
    }

    & .cart {
        margin-inline: 0.2rem;
        overflow-x: auto;
        border-bottom: 1px solid whitesmoke;

        &-item {
            background: vars.$c-amber-200;

            color: black;
            letter-spacing: 0.5px;
            font-size: 1.4rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            // border-radius: 1rem;
            margin-bottom: 0.5rem;
            min-height: 1rem;

            &--head {
                background: vars.$c-gray-300;
                color: white;
            }
            &-piece {
                border-radius: 1rem;
                flex: 1;
                &--head {
                    flex: 1;
                    padding: 0.5rem;
                    text-transform: uppercase;
                }
                &--id {
                    flex-basis: 25rem;
                    min-width: 25rem;
                }
                &--name {
                    flex-basis: 16rem;
                    min-width: 16rem;
                }
                &--price {
                    flex-basis: 10rem;
                    min-width: 10rem;
                }
                &--quantity {
                    flex-basis: 10rem;
                    min-width: 10rem;
                }
                &--delete {
                    flex-basis: 3rem;
                    min-width: 3rem;
                    align-self: stretch;
                    flex-grow: 0;
                }

                &-label {
                    margin-inline: 0.5rem;
                }
                &-value {
                    margin-inline: 1rem;
                    text-transform: capitalize;
                    text-align: center;
                }
                &-delete {
                    color: white;
                    font-size: 1.5em;
                    vertical-align: sub;
                    cursor: pointer;
                    color: vars.$c-gray-200;

                    &:hover {
                        color: vars.$c-berry-500;
                    }
                    &:active {
                        color: vars.$c-berry-bright;
                    }
                }
            }
        }

        & .total-price {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;

            padding-inline: 1rem;

            & .label {
                display: inline-block;
                padding: 1rem 1.2rem;
                color: vars.$c-gray-200;
                font-size: 1.4rem;
            }

            & .price {
                display: inline-block;
                padding: 1rem 1.2rem;
                color: vars.$c-gray-300;
                font-weight: 500;
            }
        }
    }

    & .pay {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        flex-wrap: wrap;
        margin-inline: 1rem;

        & .type {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-inline-end: 3rem;
        }
        & .amount {
            & input {
                border: 1px solid #ffa500;
            }
            & input:read-only {
                border: 1px solid #2ecc71;
                background-color: #2ecc71;
                font-weight: 600;
                color: white;
            }
        }
        & .grouped {
            &:nth-of-type(1) {
                margin-right: 2rem;
            }
            & label {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                cursor: pointer;
            }

            & input[type='radio'] {
                display: none;

                & + label .custom-radio {
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    margin: 0.1rem;

                    vertical-align: middle;
                    cursor: pointer;
                    border-radius: 50%;

                    border: 2px solid #ffffff;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &:checked + label .custom-radio.yes {
                    background-color: #2ecc71;
                }
                &:checked + label .custom-radio.no {
                    background-color: #e74c3c;
                }
            }
        }
    }
    & button {
        margin-inline: 1rem;
    }
}
.form-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    & .status {
        $status-color: vars.$c-amber-400;
        background: $status-color;

        padding: 0.2rem 1rem;
        border-radius: 1rem;
        margin-inline: 1rem;
        font-size: 1rem;
        letter-spacing: 1px;
        filter: drop-shadow(0px 0px 2px $status-color);
        color: vars.$c-gray-300;

        &.success {
            background: vars.$c-success-600;
            color: vars.$c-gray-300;
        }
        &.failure {
            background: vars.$c-berry-400;
            color: vars.$c-amber-100;
        }
    }
    & .error-message {
        border: 1px solid vars.$c-berry-500;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        max-width: 50rem;
        overflow-x: auto;
        max-height: 3em;
        cursor: url('img/cursor-touch.png') 8 8, grab;
        background: vars.$c-amber-100;
        color: vars.$c-berry-500;

        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #000000;
        }
    }
}

.form-container {
    $color-payment: #2ecc71;
    $color-purchase: vars.$c-amber-400;

    .tab-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        & .tab {
            flex-basis: 60%;
            text-align: center;
            padding-block: 0.5rem;
            cursor: pointer;
            border-radius: 1rem;

            &.payment {
                color: $color-payment;
            }
            &.purchase {
                color: $color-purchase;
            }
            &.active {
                color: white;
                // border-top-left-radius: 1rem;
                // border-top-right-radius: 1rem;

                &.purchase {
                    background-color: $color-purchase;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &.payment {
                    background-color: $color-payment;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
    & .purchase-dash {
        background-color: vars.$c-amber-100;
        border: 2px solid $color-purchase;
        padding-block: 1rem;
        border-radius: 1rem;
        border-top-left-radius: 0;
    }
    & .payment-dash {
        background-color: vars.$c-berry-100;
        border: 2px solid $color-payment;
        padding-block: 1rem;
        border-radius: 1rem;
        border-top-right-radius: 0;
    }
}
