.form-container {
    margin-block: 1rem;
    padding: 1rem;

    border-radius: 1rem;
    // border: 1px solid rgba(0, 0, 0, 0.151);
    background: var(--surface5-light);

    & form {
        background: var(--surface8-light);
        padding-block: 1rem;
        border-radius: 1rem;
        margin-block: 0.5rem;
        padding-inline: 1rem;
    }

    & .form-group {
        display: flex;
        flex-direction: row;
        // justify-content: space-around;
        align-items: center;
        margin: 2rem 0;
        padding-bottom: 1rem;
        &:not(:nth-of-type(2)) {
            border-bottom: 1px solid whitesmoke;
        }
        & select {
            text-transform: capitalize;
            margin-inline: 1rem;
            padding: 0.5rem 1rem;
            border: 0.5px solid gray;
            border-radius: 1rem;
            outline: none;

            &:focus{
                border: 0.5px solid #178645;
            }
        }
        & input {
            padding: 0.5rem 1rem;
            margin-inline: 1rem;
            max-width: 7rem;
            border: 0.5px solid gray;
            border-radius: 1rem;
            outline: none;
            letter-spacing: 0.5px;
            font-family: Roboto;

            &:focus{
                border: 0.5px solid #178645;
            }
        }
        & label {
            margin-inline: 1rem;
        }
        & button {
            text-transform: capitalize;
        }
    }

    & .cart {
        overflow-x: auto;
        border-bottom: 1px solid whitesmoke;

        &-item {
            background: rgb(100, 238, 162);

            color: black;
            letter-spacing: 0.5px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            border-radius: 1rem;
            margin-bottom: 0.5rem;
            min-height: 1rem;

            &--head {
                background: rgba(13, 108, 196, 0.925);
                color: white;
            }
            &-piece {
                border-radius: 1rem;
                flex: 1;
                &--head {
                    flex: 1;
                    padding: 0.5rem;
                    text-transform: uppercase;
                }
                &--id {
                    flex-basis: 25rem;
                    min-width: 25rem;
                }
                &--name {
                    flex-basis: 10rem;
                    min-width: 10rem;
                }
                &--price {
                    flex-basis: 10rem;
                    min-width: 10rem;
                }
                &--quantity {
                    flex-basis: 10rem;
                    min-width: 10rem;
                }

                &-label {
                    margin-inline: 0.5rem;
                }
                &-value {
                    margin-inline: 1rem;
                    text-transform: capitalize;
                    text-align: center;
                }
                &-delete {
                    color: white;
                    font-size: 1.5em;
                    vertical-align: sub;
                    cursor: pointer;
                    color: rgb(255, 123, 0);
                    &:hover {
                        color: orangered;
                    }
                    &:active {
                        color: red;
                    }
                }
            }
        }
    }

    & .payment {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        & .type {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-inline-end: 3rem;
        }
        & .amount {
            & input {
                border: 1px solid #ffa500;
            }
            & input:read-only {
                border: 1px solid #2ecc71;
                background-color: #2ecc71;
                font-weight: 600;
                color: white;
            }
        }
        & .grouped {
            &:nth-of-type(1) {
                margin-right: 2rem;
            }
            & label {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                cursor: pointer;
            }

            & input[type='radio'] {
                display: none;

                & + label .custom-radio {
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    margin: 0.1rem;

                    vertical-align: middle;
                    cursor: pointer;
                    border-radius: 50%;

                    border: 2px solid #ffffff;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
                    background-repeat: no-repeat;
                    background-position: center;

                    // &.yes {
                    //     background-color: #2ecc71;
                    // }
                    // &.no {
                    //     background-color: #e74c3c;
                    // }
                }

                &:checked + label .custom-radio.yes {
                    background-color: #2ecc71;
                }
                &:checked + label .custom-radio.no {
                    background-color: #e74c3c;
                }
            }
        }
    }
}
.form-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    & .status {
        --status-color: rgba(13, 44, 221, 0.678);
        background: var(--status-color);

        padding: 0.2rem 1rem;
        border-radius: 1rem;
        margin-inline: 1rem;
        font-size: 1rem;
        filter: drop-shadow(0px 0px 2px --status-color);
        color: white;

        &.success {
            --status-color: rgb(49, 207, 49);
        }
        &.failure {
            --status-color: red;
        }
    }
    & .error {
        border: 1px solid red;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        max-width: 50rem;
        overflow-x: auto;
        max-height: 3em;
        cursor: url('img/cursor-touch.png') 8 8, grab;
        background: wheat;
        color: brown;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #000000;
        }
    }
}
