.form-container {
    margin-block: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;

    & .form-group {
        display: flex;
        flex-direction: row;
        // justify-content: space-around;
        align-items: center;
        margin: 2rem 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid blue;
        & select {
            text-transform: capitalize;
            margin-inline: 1rem;
            padding: 0.5rem 1rem;
        }
        & input {
            padding: 0.5rem 1rem;
            margin-inline: 1rem;
            max-width: 7rem;
        }
        & label {
            margin-inline: 1rem;
        }
        & button {
            text-transform: capitalize;
        }
    }

    & .cart {
        overflow-x: auto;
        &-item {
            background: wheat;
            color: black;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            border-radius: 1rem;
            margin-bottom: 0.5rem;
            min-height: 1rem;

            &--head {
                background: rgba(165, 42, 42, 0.479);
                color: white;
            }
            &-piece {
                // margin-inline: 1rem;
                // width: 25%;
                // flex-basis: 25%;
                border-radius: 1rem;
                flex: 1;
                &--head {
                    flex: 1;
                    // background-color: rgb(206, 156, 115);
                    padding: 0.5rem;
                    text-transform: uppercase;
                }
                &--id {
                    flex-basis: 25rem;
                    min-width: 25rem;
                }
                &--name {
                    flex-basis: 10rem;
                    min-width: 10rem;
                }
                &--price {
                    flex-basis: 10rem;
                    min-width: 10rem;
                }
                &--quantity {
                    flex-basis: 10rem;
                    min-width: 10rem;
                }

                &-label {
                    margin-inline: 0.5rem;
                }
                &-value {
                    margin-inline: 1rem;
                    text-transform: capitalize;
                    text-align: center;
                }
                &-delete {
                    color: white;
                    font-size: 1.5em;
                    vertical-align: sub;
                    cursor: pointer;
                    color: rgb(255, 123, 0);
                    &:hover {
                        color: orangered;
                    }
                    &:active {
                        color: red;
                    }
                }
            }
        }
    }
}
