@use "/src/scss/abstract/variables" as vars;

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    max-height: 76rem;

    &_logo {
        max-width: 25rem;
    }
    &_title {
        & h1 {
            font-weight: 600;
            font-size: 6.4rem;
            // line-height: 6.8rem;
            letter-spacing: 0.5rem;
            text-align: center;

            text-transform: uppercase;
            color: black;
            cursor: default;
            & span:hover {
                color: rgb(97, 88, 88);
            }
        }
    }

    &_subtitle {
        margin-block: 1rem;
        text-align: center;
        font-weight: 500;

        cursor: default;
    }
}

.features {
    background-color: #c5d0d1;
    padding-block: 1rem;
    padding-inline: 0.5rem;

    & h2 {
        margin-block: 2rem;
        margin-inline: 0.5rem;

        font-size: 3.5rem;
        color: black;
        font-family: inherit;
        letter-spacing: 0.5px;
        font-weight: normal;
        text-align: justify;
    }

    & .card_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
    }
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 10rem;

    & a {
        color: white;
        letter-spacing: 0.5px;
        // border: 1px solid red;
        border-radius: 2rem;
        padding: 1rem 1.5rem;
        box-shadow:  0px 0px 10px 10px var(--surface4-light);
        background: vars.$color-green;
        cursor: pointer;



        &:active {
            box-shadow: 2px 2px 4px var(--surface3-light);
        }
    }
}
