.container {
    & .form-container {
        border-radius: 1rem;
        border: 1px solid #2ecc71;
        max-width: 80rem;
        margin: 0 auto;
        background: var(--surface8-light);
        color: black;
        padding: 1rem 1.5rem;

        & .advanced-group {
            display: flex;
            justify-content: space-evenly;
        }
        & .input-group {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            gap: 1rem;

            border-bottom: 1px solid gray;
            margin-block: 2rem;
            padding-block: 0.5rem;

            &--check {
                display: block;
                margin-bottom: 0;
                padding-bottom: 0.5rem;
            }
            &--tab {
                flex-direction: column;
                & .input-field {
                    flex-basis: 15rem;
                }
            }
            & .input-label {
                flex: 1;

                &--check {
                    font-size: 1.4rem;
                    cursor: pointer;
                }
            }

            & .input-field {
                flex: 1;
                padding: 0.5rem 1rem;
                font-size: 1.5rem;
                border: 1px solid gray;
                border-radius: 1rem;
                color: rgb(99, 98, 98);
                &::placeholder {
                    font-size: 1.3rem;
                }
                &:disabled {
                    outline: none;
                    border: 1px solid rgba(233, 101, 101, 0.884);
                }

                &--check {
                    margin-inline: 0.5rem;
                    font-size: 1.4rem;
                    width: 1rem;
                    cursor: pointer;
                }
                &--due {
                    border: 1px solid rgba(233, 101, 101, 0.884);
                    cursor: not-allowed;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        & button {
            margin-top: 2rem;
        }
    }

    & .form-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        & .status {
            --status-color: rgba(13, 44, 221, 0.678);
            background: var(--status-color);

            padding: 0.2rem 1rem;
            border-radius: 1rem;
            margin-inline: 1rem;
            font-size: 1rem;
            filter: drop-shadow(0px 0px 2px --status-color);
            color: white;

            &.success {
                --status-color: rgb(49, 207, 49);
            }
            &.failure {
                --status-color: red;
            }
        }
        & .error {
            border: 1px solid red;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            font-size: 1.4rem;
            max-width: 50rem;
            overflow-x: auto;
            max-height: 3em;
            cursor: url('/img/cursor-touch.png') 8 8, grab;
            background: wheat;
            color: brown;
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: #f5f5f5;
            }

            &::-webkit-scrollbar {
                width: 5px;
                background-color: #f5f5f5;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #000000;
            }
        }
    }

    & .profile-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-block: 1rem;
    }
}
