@use '/src/scss/abstract/variables' as vars;
@use '/src/scss/abstract/mixins' as mixins;

//! Requires parent element to have position:relative;
.tooltip {
    display: none;
    position: absolute;

    $background-color: vars.$c-amber-400;
    background-color: $background-color;

    color: vars.$c-white;
    z-index: 10;

    & span {
        display: inline-block;
        padding: 0.5em 0.5rem;
        font-size: 1.2rem;
        font-weight: 300;
    }
    // & .<position relative to parent>-<position relative to tooltip>
    &.bottom-left {
        top: calc(100% + 10px);
        right: 0;
        border-radius: 0.6rem;

        &::after {
            --border-size: -6px;

            content: '';

            position: absolute;
            top: calc(2 * var(--border-size));
            right: 6px;

            border-style: solid;
            border-width: 6px;
            border-color: transparent transparent $background-color transparent;
        }
    }
}
