button {
    cursor: pointer;

    &.primary01 {
        padding: 0.7rem 1rem;
        border: none;
        border-radius: 0.8rem;
        color: white;
        background: linear-gradient(
            to right,
            rgb(230, 30, 77) 0%,
            rgb(227, 28, 95) 50%,
            rgb(215, 4, 102) 100%
        );
    }
    &.primary02 {
        padding: 0.7rem 1rem;
        border: none;
        border-radius: 0.8rem;

        color: white;
        background-color: #0a9e0a;
    }
    &.primary03 {
        padding: 0.8rem 1.2rem;

        border: none;
        border-radius: 1rem;
        color: white;
        background: linear-gradient(to right, #0c332e, #0b2d29);
    }
}
