.overview-panel {
    // background: var(--surface2-light);

    // border-radius: 1rem;
    // padding-inline: 1rem;

    & h1,
    & h3 {
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        text-transform: capitalize;
    }
    & h1 {
        color: rgb(255, 255, 255);
        margin-inline: 1rem;
    }
    & h3 {
        color: #897219;
    }
}

.transaction-table-container {
    // padding: 1rem;
    // border-radius: 1rem;
    margin-block: 1rem;

    background: var(--surface5-light);

    & h3 {
        margin-inline: 1rem;
    }
}
