@use '/src/scss/abstract/variables' as vars;
@use '/src/scss/abstract/mixins' as mixins;

.overview-panel {
    & h1,
    & h3 {
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        text-transform: capitalize;
    }
    & h1 {
        color: vars.$c-gray-200;

        margin-inline: 1rem;
    }
    & h3 {
        color: vars.$c-brown-400;
    }
}

.transaction-table-container {
    margin-block: 1rem;
    background: vars.$c-berry-100;

    & h3 {
        margin-inline: 1rem;
        padding-block-start: 2rem;
    }
}
