.product {
    background: white;

    border: 1px solid gray;
    border-radius: 1rem;
    margin: 1rem 2rem;
    padding: 1rem 1.5rem;

    &_title{
        font-size: 2rem;

        text-transform: capitalize;
        text-align: center;
        color: rgb(14, 121, 85);
    }

    &_detail {
        display: flex;
        flex-direction: row;
        margin-block: 1rem;
        
        & .key, .value{
            margin-inline: 1rem;
        }
    }
}
