.sort-and-filter{

padding: 1rem;


.sort-filter-tab {
    display: flex;
    justify-content: space-around;

    & .sort ul,
    & .filter ul {
        display: flex;
        list-style-type: none;
        & li {
            margin: 0.5rem;
        }
    }

    & .sort > div {
        text-align: left;
        margin: 0.1rem;
        background-color: #f9f5f6;
        color:#000;
        border-radius: 0.3rem ;
        padding: 0.1rem;
    }
}

.added-filters {
    & .filter-bar {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 1rem;

        color: white;

        background: #16222a; /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to left,
            #3a6073,
            #16222a
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to left,
            #3a6073,
            #16222a
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        & label {
            padding-inline: 0.5rem;
        }
    }
}
}