@use '/src/scss/abstract/variables' as vars;
@use '/src/scss/abstract/mixins' as mixins;

.main-button {
    margin-inline: 1rem;
}

.sort-and-filter {
    padding: 1rem;

    .sort-filter-tab {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        & .sort {
            flex-basis: 60rem;

            display: flex;
            align-items: center;
            justify-content: space-around;

            margin-block: 2rem;
            & span {
                margin-right: 1rem;
            }
        }
        & .sort ul,
        & .filter ul {
            list-style-type: none;

            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            & li {
                margin-inline: 0.2rem;

                &--selected {
                    border: 1px solid rgb(54, 178, 228);
                }

                & input {
                    height: 0;
                    width: 0;
                    display: none;
                }
                & label {
                    font-size: 2rem;
                    color: gray;
                    &.selected {
                        color: rgb(255, 0, 0);
                        // font-size: 2.2rem;
                    }
                }

                & .filter-btn {
                    display: inline-block;
                    white-space: nowrap;
                    padding: 0.5rem 0.8rem;
                    background: #f9f5f6;
                    border: none;
                    border-radius: 0.5rem;
                }
            }
        }

        & .sort .sort-item {
            display: flex;
            align-items: center;

            text-align: left;

            margin: 0.1rem;
            padding: 0.5rem;

            background-color: #f9f5f6;
            color: #000;
            border-radius: 0.3rem;
            margin-right: 0.3rem;

            & label {
                cursor: pointer;

                &.is-sorted {
                    color: rgb(54, 178, 228);
                    text-decoration: underline;
                    text-decoration-thickness: 0.3rem;
                    text-underline-position: under;
                }
            }
            & input {
                height: 0;
                width: 0;
                display: none;
            }
        }
    }

    .added-filters {
        & > div:last-child {
            margin-top: 1rem;
        }

        & .submit-div {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

        & .filter-bar {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            padding: 0.5rem;
            margin: 0.5rem;
            border-radius: 1rem;

            color: black;

            background: #f9f5f6;

            & span {
                flex-grow: 1;
                white-space: nowrap;
            }
            & label {
                flex-grow: 1;

                padding-inline: 0.5rem;
                cursor: pointer;
            }
            & input {
                &[type='number'] {
                    max-width: 5rem;
                }
            }
            & button {
                margin-inline: 2rem;
            }
        }
    }
}
