@use '/src/scss/abstract/variables' as vars;
@use '/src/scss/abstract/mixins' as mixins;

.navigation-bar {
    background-color: vars.$c-amber-100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;

    position: sticky;
    top: 0;
    z-index: 999;

    margin-bottom: 1rem;
    box-shadow: 0px 1px 5px #{vars.$c-gray-300}50;

    & .toggle-sidebar {
        overflow: hidden;
        transition: width 0.2s ease, padding-inline 0.2s ease;
        font-size: 2.5rem;
        padding-inline: 1.5rem;
        color: vars.$c-berry-400;
        filter: drop-shadow(0px 0px 1px vars.$c-berry-400);

        &--open {
            padding-inline: 0;
            width: 0;
        }

        & svg:hover {
            cursor: pointer;
            color: vars.$c-berry-bright;
        }
    }
    & .go-back {
        // border: 1px solid red;
        height: 100%;
        transition: margin 0.5s ease;
        margin-inline: 1rem;

        & span {
            @include mixins.respond('tab-port') {
                display: none;
            }
        }

        &--pushed {
            margin-left: 2rem;
            @include mixins.fluid('margin-left', 0.8rem, 2rem);
        }
    }
    & .details {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        // align-self: flex-end;
        flex-grow: 1;
        text-align: right;
        margin-inline: 2rem;
        @include mixins.fluid('margin-inline', 0.8rem, 1.5rem);

        & .name {
            margin-inline: 1rem;
            font-family: 'Oswald';
            text-transform: uppercase;
        }

        & .logout {
            position: relative;
            cursor: pointer;
            color: vars.$c-berry-300;

            &:hover {
                color: vars.$c-amber-400;
            }
            &:hover [class*='tooltip'] {
                display: block;
            }
        }
    }
}
