.sidebar-item {
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    display: block;
    // color: rgb(189, 15, 15);

    // background: var(--surface6-light);

    & span:hover {
        background: var(--surface2-light);

        text-decoration: underline;
        text-underline-position: under;
        color: white;
    }

    & {
        padding: 0.75em 1em;
        display: block;
        transition: background-color 0.15s;
        border-radius: 5px;
    }
   

    .sidebar-title {
        cursor: pointer;
        display: flex;
        font-size: 1.2em;
        justify-content: space-between;
        & span {
            font-weight: 600;
            color: white;
            cursor: pointer;
        }
    }
    .sidebar-title span i {
        display: inline-block;
        width: 1.5em;
    }
    .sidebar-title .toggle-btn {
        cursor: pointer;
        transition: transform 0.3s;
        background: none;
        border: none;
    }
    &.open > .sidebar-title .toggle-btn {
        transform: rotate(180deg);
    }
    .sidebar-content {
        padding-top: 0.25em;
        height: 0;
        overflow: hidden;
    }
    &.open > .sidebar-content {
        height: auto;
    }

    & .plain {
        cursor: pointer;
        display: block;
        color: #fff;
        text-decoration: none;

      
        & i {
            display: inline-block;
            width: 1.7em;
        }
    }
}
