.sidebar-item {
    // padding: 1rem;
    // margin: 1rem;
    text-decoration: none;
    display: block;
    padding: 0.75rem 1rem;
    transition: background-color 0.15s;

    & span {
        border-left: 2px solid transparent;
        padding-inline: 2px;
        &:hover {
            display: inline-block;
            // text-decoration: underline;
            border-left: 2px solid rgb(219 111 18);
            text-underline-position: under;
            color: white;
        }
    }

    .sidebar-title {
        cursor: pointer;
        display: flex;
        font-size: 1em;
        justify-content: space-between;
        & span {
            font-weight: 300;
            color: white;
            cursor: pointer;
        }
    }
    .sidebar-title span i {
        display: inline-block;
        width: 1.5rem;
    }
    .sidebar-title .toggle-btn {
        cursor: pointer;
        // transition: transform 0.3s;
        background: none;
        color: white;
        border: none;

        & svg {
            color: inherit;
            width: 1rem;
        }
    }

    &.open > .sidebar-title .toggle-btn {
        transform: rotate(180deg);
    }
    .sidebar-content {
        padding-top: 0.25em;
        height: 0;
        overflow: hidden;
    }
    &.open > .sidebar-content {
        height: auto;
    }

    & .plain {
        cursor: pointer;
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 300;

        & i {
            display: inline-block;
            width: 1.7em;
        }
    }
}
