.sidebar {
    // min-width: fit-content;
    position: relative;
    top: 0;
    max-width: 20rem;
    /*//* CHANGE WIDTH  */
    // width: 20rem;
    flex-shrink: 0;
    flex-basis: 20rem;

    overflow: auto;
    align-self: stretch;
    min-height: 20rem;
    height: 100vh;

    top: 0;
    left: 0;
    bottom: 0;

    background: linear-gradient(to bottom right, #0c332e, #0b2d29);
    background: var(--surface2-light);
    transition: width 0.5s ease;
    &--opened {
        width: 20rem;
    }
    &--closed {
        width: 0rem;
    }

    & .header{
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.432);
    }
    .hamburger {
        position: absolute;
        top: 1rem;
        right: 0.3rem;
        color: white;
        font-size: 2.5rem;
        cursor: pointer;
    }

    & .logo {
        max-width: 20rem;
        // max-height: 3rem;
        width: 80%;
        // height: 2rem;
        // margin: 0 auto;
        margin-top: 0.1rem;
        margin-inline: 0.5rem;
        & img {
            // aspect-ratio: 1;
            width: 100%;
            height: 100%;
        }
    }
    & ul {
        list-style-type: none;
        margin: 1rem;
        padding: 0;
    }
}
