@import '/src/scss/abstract/mixins.scss';

.overlay {
    flex-basis: 50%;
    // flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;

    background-color: rgb(71, 68, 68);
    transition: transform 0.5s ease, height 0.5s ease, max-height 0.5s ease;

    @include respond('tab-port') {
        order: 1;
    }

    &--right {
        @include respond('tab-port') {
            transform: translateX(0%);
            transform: translateY(0%);
            width: 100%;
        }
    }

    &--left {
        transform: translateX(-100%);
        @include respond('tab-port') {
            transform: translateX(0%);
            width: 100%;
        }
    }

    & .headings {
        text-align: center;
        margin-bottom: 10vh;

        & h1 {
            font-size: 4rem;
            color: aliceblue;
        }
        & h2 {
            color: rgb(180, 233, 228);
            font-weight: 200;
        }
        & h3 {
            color: rgb(180, 233, 228);
            font-weight: 200;
        }
    }
    & p {
        margin-block: 1rem;
        color: white;
        font-size: 1.4rem;
        & span {
            display: inline-block;
            border-bottom: 2px solid green;
            margin-inline: 1ch;
            cursor: pointer;

            &:hover {
                border-bottom: 2px solid rgb(128, 4, 0);
            }
        }
    }
    & .dummy {
        display: flex;
        flex-direction: row;
        align-items: center;
        // overflow: hidden;
        & p {
            font-size: 1.4rem;
        }

        & .highlighted {
            display: inline-block;
            position: relative;
            width: fit-content;
            padding: 0.5rem;
            margin-inline: 0.5rem;
            overflow: hidden;
            border-radius: 1.6rem;

            & .rainbow {
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;

                translate: 0 -50%;
                color: antiquewhite;

                cursor: pointer;

                -webkit-text-underline-position: under;
                -ms-text-underline-position: below;
                text-underline-position: under;

                background: conic-gradient(
                    #fd1892 0%,
                    #2c90fc 25%,
                    #b8fd33 50%,
                    #fec837 75%,
                    #fd1892 100%
                );
                background-repeat: no-repeat;
                border-radius: 50%;
                aspect-ratio: 1;
                animation: rotate infinite 1s linear;
            }

            @keyframes rotate {
                to {
                    rotate: 360deg;
                }
            }

            & span {
                display: inline-block;
                background-color: white;
                background-color: rgb(71, 68, 68);
                cursor: pointer;
                padding: 0.5rem 0.8rem;
                color: white;
                position: relative;
                z-index: 2;
                border-radius: 1rem;
                font-size: 1.2rem;
            }
        }
    }
    & .placeholder-loader {
        color: rgb(38, 233, 135);
        width: 2rem;
        flex-basis: 2rem;
    }
}
