.overlay {
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(71, 68, 68);
    transition: transform 0.5s ease, height 0.5s ease, max-height 0.5s ease;

    &--right {
    }

    &--left {
        transform: translateX(-100%);
    }

    & .headings{
        text-align: center;
        & h1{
            font-size: 4rem;
            color: aliceblue;
            margin-bottom: 4rem;
        }
        & h2{
            color:rgb(180, 233, 228);

        }
    }
    & p {
        margin-block: 2rem;
        color: white;
    }
}
