$color-red: rgb(160, 0, 0);
$color-red-100: rgb(243, 80, 80);
$color-blue: rgb(3, 188, 201);
$color-blue-fb: #0080ff;
$color-ash: #d0d0d4;
$color-green: #2ecc71;
$color-green-: #d9ffe9;
$color-green-100: #56cc87;
$color-green-50: #6fcf97d7;
$color-green-20: #9cd3b4;
$color-dark: #2c2c2c;

$color-gray: #f0f0f0;
$color-gray-100: #d6d5d5;
$color-gray-200: #bbb8b8;
$color-gray-300: #9b9a9a;

$color-temp: #8bc34a;

$c-berry-bright: #ff5755;
$c-berry-500: #ff7170;
$c-berry-400: #ff8e8d;
$c-berry-300: #ffaead;
$c-berry-200: #ffe6e5;
$c-berry-100: #fff7f6;

$c-amber-bright: #ffbe16;
$c-amber-500: #f8b439;
$c-amber-400: #feca64;
$c-amber-300: #fed993;
$c-amber-200: #fff2d0;
$c-amber-100: #ffffea;

$c-brown-400: #580201;

$c-gray-400: #4d3636;
$c-gray-300: #4d4d4d;
$c-gray-200: #aca89e;
$c-gray-100: #ece8ee;
$c-gray-50: #efefef;

$c-sky-400: #145ae1;

$c-white: #ffffff;
$c-black: #000000;

$c-success-bright: #55ff85;
$c-success-600: #4ee779;
