$color-red: rgb(160, 0, 0);
$color-red-100: rgb(243, 80, 80);
$color-blue: rgb(3, 188, 201);
$color-blue-fb:#0080ff;
$color-ash: #d0d0d4;
$color-green: #2ecc71;
$color-green-: #d9ffe9;
$color-green-100: #56cc87;
$color-green-50: #6fcf97d7;
$color-green-20: #9cd3b4;
$color-dark:#2c2c2c;

$color-gray:#f0f0f0;
$color-gray-100:#d6d5d5;
$color-gray-200:#bbb8b8;
$color-gray-300:#9b9a9a;

$color-temp:#8bc34a;