.bullet {
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    // color: rgb(189, 15, 15);

    background: radial-gradient(circle, #fff, #aaa) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-image ease 1s;

    &:hover {
        background-color: wheat;
        text-decoration: underline;
        text-underline-position: under;
        color: white;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.192);

    }
}
