@use './scss/utilities/scrollbar.scss' as *;
@use './scss/abstract' as *;
// @use './scss/main.scss';
@use './scss/base/fonts';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
// @import './scss/main.scss';

//- Required for customer maps
#map {
    height: 300px;
}

:root {
    font-size: 10px;
}
* {
    box-sizing: border-box;
    padding-block: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;

    @extend .scrollbar-17;
}

*:link,
:visited {
    text-decoration: none;
    color: inherit;
}
body {
    font-size: 1.6rem;
    font-family: 'Roboto';
    // background: #dfeeef; /* fallback for old browsers */
    background: #f3f3f4;
    background: var(--surface2-light);
    background: var(--surface5-light);
    color: rgb(37, 36, 36);

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #0ae;

        background-image: -webkit-gradient(
            linear,
            0 0,
            0 100%,
            color-stop(0.5, rgba(255, 255, 255, 0.2)),
            color-stop(0.5, transparent),
            to(transparent)
        );
    }
}
img {
    object-fit: cover;
    width: 100%;
}


:root {
    --surface8-light: #ffffff;
    --surface7-light: #f5f5f5;
    --surface6-light: #e5e5e5;
    --surface5-light: #d5d5d5;
    --surface4-light: #b5b5b5;
    --surface3-light: #9e9e9e;
    --surface2-light: #5e5e5e;
    --surface1-light: #1e1e1e;
}


