@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;

.container {
    
    color: vars.$color-dark;

    & .h3{
        color: vars.$c-gray-400;
    }
    & .profile {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: relative;
        background-color: var(--surface8-light);
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem;

        &-edit {
            position: absolute;
            top: 1rem;
            right: 2rem;
            z-index: 2;
        }

        &-picture {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: 3rem;
            position: relative;
            & svg {
                position: absolute;
                top: 80%;
                left: 50%;
                translate: 150% 0;

                cursor: pointer;
                color: pink;
                border: 3px solid white;
                border-radius: 2.5rem;
                background: white;
            }
            & .figure {
                padding: 0.5rem; 
                position: relative;
                border-radius: 100%;
                overflow: hidden;
                max-width: 20rem;
                min-width: 20rem;
                height: 20rem;
                border: 0.2rem solid rgb(62, 133, 106);
                &--load {
                    border: none;
                    padding: 0.5rem;
                }
                & img {
                    border-radius: 100%;
                }
            }
        }

        &-field {
            width: 100%;
            margin: 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            max-width: 80rem;
            overflow: auto;

            &--edits {

                & .input-wrapper {
                    margin-block: 1rem;

                    & button {
                        margin-inline: 1rem;
                    }
                }
            }
            & .key {
                flex-basis: 20rem;
                margin-inline: 1rem;
                &--edits {
                    color: rgb(48, 11, 105);
                }
            }

            & .value {
                flex-basis: 30rem;
                padding: 1px;
                font-size: 1.8rem;
                font-weight: 400;
                &--edits {
                    font-weight: 200;
                    padding: 0.5rem 1rem;
                    border-radius: 2rem;
                    font-size: 1.6rem;
                    outline: none;
                    border: 0.5px solid gray;
                    max-width: 30rem;

                    &:focus-visible {
                        outline: none;
                    }
                }

                &.name {
                    text-transform: capitalize;
                }
            }
        }

        & .field-wrapper {
            padding-block: 1rem;
            border-bottom: 1px solid rgb(154, 163, 156);
        }
    }

    & .hidden-form {
        margin-block: 1rem;
        visibility: visible;
        text-align: right;
    }

    & .add-button{
        padding-inline: 0.5rem;
        display: inline-block;
    }
}
