@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;

.card {
  min-width: 20rem;
  min-height: 10rem;
  flex-basis: 35rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  overflow: hidden;
  color: black;
  cursor: default;
  border: px solid transparent;
  cursor: pointer;

  $card: #{&};
  border: 2px solid vars.$c-gray-200;

  &:hover {
    border-color: vars.$c-gray-400;
    #{$card}-right {
      background-size: 4em 3em;

      & .name {
        color: vars.$c-gray-500;
      }
    }
    #{$card}-left {
      & .svg-image {
        scale: 1.1;
      }
    }
  }

  &:active {
    #{$card}-right {
      background-color: vars.$c-amber-300;
    }
  }

  &-left {
    width: 25%;
    position: relative;
    background-position: 100% 100%;
    background-size: cover;
    padding: 1rem 1.5rem;

    & .svg-image {
      object-fit: cover;
      position: absolute;
      inset: 0;
      height: 100%;
      transition: scale 0.3s ease-in-out;
      opacity: 0.7;
    }
    &-picture {
      position: absolute;
      top: 0;
      right: 0;
      height: 8rem;
      width: 8rem;
      border-radius: 100%;
      transform: translate(50%, 20%);
      border: 4px solid white;
      overflow: hidden;

      & figure {
        width: 100%;

        & img {
          object-fit: contain;
        }
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        rgba(77, 77, 77, 0.02) 0.1em,
        transparent 0.1em
      ),
      linear-gradient(90deg, rgba(77, 77, 77, 0.02) 0.1em, transparent 0.1em);
    background-size: 3em 3em;

    flex-grow: 1;

    padding: 1rem 1.5rem;
    padding-left: 3.5rem;
    text-align: right;
    transition: all 0.2s ease-in-out;

    & .name {
      text-transform: capitalize;
      font-size: 2rem;
      font-weight: 600;
      margin-top: 1.6rem;
      padding-left: 2rem;
      min-height: 4rem;
      color: vars.$c-gray-400;
    }

    & .tab {
      display: flex;
      justify-content: space-evenly;
      font-size: 1.8rem;
      text-align: center;
      background-color: white;
      border-radius: 1rem;
      padding: 1rem;
      margin-top: auto;
      & p {
        font-size: 1.2rem;
        color: vars.$c-gray-300;
        font-weight: 400;
      }
      & .paid {
        color: vars.$color-green;
        font-weight: 700;
      }
      & .purchase {
        color: vars.$c-amber-400;
        font-weight: 700;
      }
      & .due {
        color: vars.$c-berry-500;
        font-weight: 700;
      }
    }
    & .phone {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
    & .address {
      font-size: 1.2rem;
      text-transform: capitalize;
      flex-grow: 2;
      color: vars.$color-gray-300;
    }
  }
}
