.calender-container {
    background: #d3cce3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #e9e4f0,
        #d3cce3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #e9e4f0,
        #d3cce3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 0.5rem;

    margin: 1rem;

    --width-of-container: 61rem;
    width: 61rem;

    & .header {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }
    & .calender {
        display: flex;
        flex-wrap: wrap;
        & .weekdays {
            width: calc((var(--width-of-container) - 70px) / 7);

            // height: 8rem;
            margin: 0.5rem;
            overflow: hidden;
            text-align: center;
        }
        & .day {
            width: calc((var(--width-of-container) - 70px) / 7);
            height: 8rem;
            margin: 0.5rem;

            border-image: linear-gradient(to bottom, #ed213a, #93291e) 30;
            border-width: 1px;
            border-style: solid;

            color: #870000;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
