.calender-container {
    background: burlywood;
    width: 61rem;
    & .calender {
        display: flex;
        flex-wrap: wrap;
        & .weekdays {
            width: calc((610px - 70px) / 7);

            // height: 8rem;
            border: 1px solid azure;
            margin: 0.5rem;
            overflow: hidden;
        }
        & .day {
            width: calc((610px - 70px) / 7);

            height: 8rem;
            border: 1px solid azure;
            margin: 0.5rem;
        }
    }
}
